<template>
    <div>
        <q-page>
            <br>
            <q-btn @click="nextImage" class="bg-lime-10" text-color="white">
                Image suivante
            </q-btn>
            <q-btn @click="lastImage" class="bg-lime-10" text-color="white">
                Image précédente
            </q-btn>
            <br>
            <br>
            <div class="parent">
                <div class="child">
                    <img
                    :src="currentImageOriginal"
                    class="topLeft"
                    />
                    <img :src="currentImageEgalise" class="topRight"/>
                </div>
                
                <br>
                <div class="child">
                    <img :src="currentImageColorie" class="bottomLeft"/>
                    <img :src="currentImageEgaliseColorie" class="bottomRight"/>
                </div>
                
            </div>
        </q-page>
    </div>
</template>

<script>
    export default {
        name: 'Gallery',
        data() {
            return {
                index: 0,
                imageMetas: [],
                currentImageOriginal: "",
                currentImageColorie: "",
                currentImageEgalise: "",
                currentImageEgaliseColorie: ""
            }
        },
        computed: {
            date(){
                return this.imageMetas[this.index].date;
            }
        },
        async created () {
            this.imageMetas = await this.getImageMeta();
            this.currentImageOriginal = await this.getImage('original');
            this.currentImageColorie = await this.getImage('image_colorie');
            this.currentImageEgalise = await this.getImage('image_egalise');
            this.currentImageEgaliseColorie = await this.getImage('image_egalise_colorie');
        },
        methods: {
            async getImageMeta(){
                return new Promise(async (resolve,reject) => {
                    const getImageMeta = await fetch('http://localhost:8000/gallery/imagemeta', {
                        mode:"cors"
                    }).catch(err => {
                        console.log("error for fetching imagemeta");
                        console.log(err);
                    })
                    resolve(getImageMeta.json());
                })
            },
            async getImage(type){
                return new Promise(async (resolve,reject) => {
                    const imageName = this.imageMetas[this.index][0];
                    const getPathImage = await fetch(`http://localhost:8000/gallery/image/${type}/${imageName}`, {
                        mode : 'cors'
                    }).catch(err => {
                        console.log("error for fetching url image");
                        console.log(err);
                    })
                    const imageRelativePath = await getPathImage.url;
                    resolve(imageRelativePath);
                })
            },
            async nextImage(){
                if (this.index < this.imageMetas.length-1) {
                    this.index ++;
                    this.currentImageOriginal = await this.getImage('original');
                    this.currentImageColorie = await this.getImage('image_colorie');
                    this.currentImageEgalise = await this.getImage('image_egalise');
                    this.currentImageEgaliseColorie = await this.getImage('image_egalise_colorie');
                }
            },
            async lastImage(){
                if (this.index > 0) {
                    this.index --;
                    this.currentImageOriginal = await this.getImage('original');
                    this.currentImageColorie = await this.getImage('image_colorie');
                    this.currentImageEgalise = await this.getImage('image_egalise');
                    this.currentImageEgaliseColorie = await this.getImage('image_egalise_colorie');
                }
            }
        }
    }
</script>

<style lang="css" scoped>
    .child{
        display:table;
        margin : 0 auto;
    }
    .topLeft{
        grid-column : 1;
        grid-row : 1;
        max-width:50%;
        max-height:40vh;
    }
    .topRight{
        grid-column : 2;
        grid-row : 1;
        max-width:50%;
        max-height:40vh;
    }
    .bottomLeft{
        grid-column : 1;
        grid-row : 2;
        max-width:50%;
        max-height:40vh;
    }
    .bottomRight{
        grid-column : 2;
        grid-row : 2;
        max-width : 50%;
        max-height : 40vh;
    }
</style>